.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 60px;   
    z-index: 9; 
}

@media (max-width: 390px) {
    .header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 30px;   
        z-index: 9; 
    }
}