.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1234px;
    margin: 0px auto;
    padding: 0px 30px;
}

.header_container_tittle{
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.header_container_liks > ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav_liks{
    display: flex;
    background: none;
    border: none;
    border-radius: 14px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    background-blend-mode: overlay;
}

.nav_liks:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px, rgba(0, 0, 0, 0.1) 0px 1px 5px, rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
}